*  text=auto
*.txt  text
*.csv  text
*.bmp  binary
*.dds  binary
*.fx  binary
*.fnt  binary
*.gfx  binary
*.gui  binary
*.lua  binary
*.map  binary
*.mp3  binary
*.png  binary
*.tga  binary
*.xac  binary
*.xsm  binary

